/* Custom CSS to troubleshoot hover issue */
.nav-link:hover {
  color: #4dc0b5;
  font-size: 1.5rem;
}

/* Tambahkan ini di style.css atau di dalam tag <style> di dalam <head> */
.card-img {
  width: 100%;
  height: 300px; /* Kamu bisa menyesuaikan tinggi ini sesuai kebutuhan */
  object-fit: cover;
}
